@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,300;1,100;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,200;1,500;1,600&display=swap');

:root {
    --body-font: "Poppins", sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
  }
    *,::before,::after{
        box-sizing: border-box;
        /*font-family: 'Poppins';*/
       text-decoration: none;
        color: #000;
       
    
    }
html{
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
    margin: 0;
    font-family: var(--body-font);

    
 }
.dark-mode{
    background-color: #000;
    color: #ffffff;
}
#headerID{
   
  position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1080;
   box-shadow: 0 1px 4px rgba(146, 161, 176, 0.16);
   
}

ul{
   position: fixed;
   /* top: 0; */
   width: 100%;
   padding: 0;
   margin: 0;
   list-style: none;
   background-color: #fff;
}
li{
    
    float: left;
}

/*navigation bar*/
.nav-item{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    
}
#nav-menu a {
  
    text-decoration: none; /* Remove underlines from links */
    color: black; /* Set the text color of links */
    padding: 14px 16px; /* Add padding to links */
    
  }
.nav-link:hover{

    background-color: #ffdd1a;
    height: 50px;
    border-radius: 25px;
    margin-top: 5px;
}
.active::after{
    
    background-color: #fff;
    
}
.toggle-menu{
    color: #ff9640;
    cursor: pointer;
    font-size: 24px;
}

/*show nav bar*/
.show{
    right: 0;
}
#menu-icon{
    font-size: 20px;
    color: #372948;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
section{
    padding: 100px 18%;
    position: relative;
    z-index: 0;


}
.home{
    /*min-height: (100vh-3rem);*/
    row-gap: 1rem;
}
.home{
    height: 100%;
    width: 100%;
   padding-top: 2px;
    position: relative;
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
    grid-template-areas:
        ". my-img"
        ". .";
}
/*social media*/

.fa {
   
    font-size: 16px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-linkedin {
    /*background: linear-gradient(144deg,#ff9640, #f3c442 50%,#d4eb00);*/
    color: white;
  }
  .fa-github{
    /*background: linear-gradient(144deg,#ff9640, #f3c442 50%,#d4eb00);*/
    color: white;
  }
.Intro-text{
    padding: 40% 0 20% 0 ;
    position: relative;
    top: 0px; left: 40px;
    font-family: var(--body-font);
    
   
}

@media screen and(min-width:h768px){
    .Intro-text{
        max-width: 100%;
    }
    
}
/*@media (min-width:796px) {
    .my-img{
        object-fit: cover;
        margin-left: 40%;
        grid-area: my-img;
        max-width: 100%;
        width: 300%;
        height: auto;
    
}*/

 
#text-1{
    animation: blinker 6s linear infinite;
}
@keyframes blinker{
    70%{
        opacity: .2
    }
}
.home-data{
    align-self: center;
}
.Intro-text {
    margin: 10px 0px 25px;
    font-size:var(--big-font-size) ;
    font-family: var(--body-font);
    line-height: 4rem;
    
}
h2{
    font-weight: 800;
}
.title-color{
    color: #e8f407;
    font-weight: 800;
   
}
#text-1{
    font-weight: 800;
}

#btn1{
    padding: 10px;
    margin-top: 25px;
}
button{
    background-image: linear-gradient(144deg,#ff9640, #f3c442 50%,#d4eb00);
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 120px;
    color: white;
    padding: 15px 19px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    display: flex;
    line-height: 1em;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: inline;font-size: 16px;
    margin: 4px 2px;
    white-space: nowrap;
    cursor: pointer;
}
button:active,button:hover{
    
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);

}
/*button span{
    background-color: rgb(229, 146, 14);
    padding: 10px 24px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}*/
button:hover span{
    background:none;
}
@media (min-width:768px) {
    .button{
        font-size: 24px;
        min-width: 50px;
    }
    
}

/*about section*/

.about-section{
    padding-top: 5px;
}
.about-container{
    row-gap: 2rem;
    text-align: center;
}
.about-title{
    position: relative;
    
    margin-bottom: 32px;
    text-align: center;
    color: #876815;
    font-size: 36px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    

}
@media  screen and(min-width:768px) {
    .about-title::after{
        width: 80%;
        top: 3rem;
    }
    
}
.about-img{
    justify-self: center;
}
.about-img{
    cursor: pointer;
}

.about-img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;

}

/*skill section*/

table{
    width: 70%;
    background-color: #EC9704;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    transition: width 2s, height 2s;
    transition-timing-function: linear;
}
h3{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    color: #EC9704;
    cursor: pointer;
}
th{
    font-size: 18px;
    color: #000;
    text-align: center;
    vertical-align: middle;
    height: 50px;
}
td{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    height: 40px;

}
table:hover{
    width: 300px;
    height: 300px;
}

/*project*/
.project-section{
    margin: 20px;
}
.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.project-img {
    margin-bottom: 30px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  .project-img img {
   
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 8px;
    cursor: pointer;
    transition: 1s;
  }
  .project-img img:hover{
    transform: scale(1.1);
  }
  .project-title{
    position: relative;
    
    margin-bottom: 32px;
    text-align: center;
    color: #876815;
    font-size: 36px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
   margin-inline: auto;
  }
  
  .project-1-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .project-1-description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .project-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .small-btn {
    display: inline-block;
    
    font-size: 16px;
    font-weight: 200%;
    color: #000;
    background-color: #f3c442;
    border-radius: 5px;
    padding: 10px 30px;
    text-decoration: none;
    transition: background-color 0.2s;
  }
  .small-btn:hover{
    background-color:#fff;
    border:2px solid #f3c442;
    
  }
  /*contact form*/
 .contact-form{
    
    background-color: #f3c442;
    
}
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #fff;
}

.form{
    width: 40%;
}

.input-submit{
    /*width: 30%;*/
   
    background-color: #f3c442;
    margin-top: 12px;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;

}

.input-submit:hover{
    border: #fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);;
}
@media screen and(min-width:768px) {
    .contact-form{
        max-width: 50%;
    }
   

    .input-submit{
        width: 50%;
    }
    
}

.footer-p p{
    text-align: center;
    font-weight: 300;
    color:#f3c442;
}
/*Media Quaries*/

@media screen and(max-width:768px){
    body{
        margin: 0;
        height: auto;
    }
    .section{
        padding: 10% 5%;
        position: relative;
        z-index: 0;
    }
    .nav{
        height: calc(48px + 16px);
    }
    .ul-nav{
        display: flex;
        padding-top: 0;
    }
    .nav-item{
        margin-left: 64px;
        margin-bottom: 0;
    }
    .toggle-menu{
        display: none;
    }
    .home{
        display:grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
    .home-data{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social-conatiner{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
      
    }
    .home-image{
        
        max-width: 100%;
        height: auto;
    }
    .Intro-text{
        padding: 20% 0;
    }
    .about-section{
        align-items: center;
        margin: auto;
        width: 100%;
        transition: 0.5s;
    }
    #skill.skills-section{
        padding: 50px 35px;
    }
    .skills-container{
        display: grid;
        column-gap: 5px;
        grid-template-columns: auto ;
        padding: 8px;
        
        
    }
    #set-1{
        background-color: #f3c442;
    }
}