@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,300;1,100;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;1,100;1,200;1,500;1,600&display=swap');

:root {
    --body-font: "Poppins", sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
  }
    *,::before,::after{
        box-sizing: border-box;
        /*font-family: 'Poppins';*/
       text-decoration: none;
        color: #000;
       
    
    }
html{
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
    margin: 0;
    font-family: var(--body-font);

    
 }
.dark-mode{
    background-color: #000;
    color: #ffffff;
}
#headerID{
   
  position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1080;
   box-shadow: 0 1px 4px rgba(146, 161, 176, 0.16);
   
}

ul{
   position: fixed;
   top: 0;
   width: 100%;
   padding: 0;
    margin: 0;
    list-style: none;
    background-color: rgb(191, 116, 11);
    
}
li{
    
    float: left;
}

/*navigation bar*/
.nav-item{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    
}
#nav-menu a {
  
    text-decoration: none; /* Remove underlines from links */
    color: black; /* Set the text color of links */
    padding: 14px 16px; /* Add padding to links */
    
  }
.nav-link:hover{

    background-color: #fff;
    height: 55px;
}
.active::after{
    
    background-color: #fff;
    
}
.toggle-menu{
    color: #ff9640;
    cursor: pointer;
    font-size: 24px;
}

/*show nav bar*/
.show{
    right: 0;
}
#menu-icon{
    font-size: 20px;
    color: #372948;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
section{
    padding: 100px 18%;
    position: relative;
    z-index: 0;


}
.home{
    /*min-height: (100vh-3rem);*/
    row-gap: 1rem;
}
.home{
    height: 100%;
    width: 100%;
   padding-top: 2px;
    position: relative;
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
    grid-template-areas:
        ". my-img"
        ". .";
}
/*social media*/

.fa {
    padding: 20px;
    font-size: 16px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-linkedin {
    background: linear-gradient(144deg,#ff9640, #f3c442 50%,#d4eb00);
    color: white;
  }
  .fa-github{
    background: linear-gradient(144deg,#ff9640, #f3c442 50%,#d4eb00);
    color: white;
  }
.Intro-text{
    padding: 40% 0 20% 0 ;
    position: relative;
    top: 0px; left: 40px;
    font-family: var(--body-font);
    
}
@media (min-width:796px) {
    .my-img{
        object-fit: cover;
        margin-left: 40%;
        grid-area: my-img;
        max-width: 100%;
        width: 300%;
        height: auto;
    
}
}
 
#text-1{
    animation: blinker 6s linear infinite;
}
@keyframes blinker{
    70%{
        opacity: .2
    }
}
.home-data{
    align-self: center;
}
.Intro-text {
    margin: 10px 0px 25px;
    font-size:var(--big-font-size) ;
    font-family: var(--body-font);
    line-height: 4rem;
    
}
h2{
    font-weight: 800;
}
.title-color{
    color: #e8f407;
    font-weight: 800;
   
}
#text-1{
    font-weight: 800;
}

#btn1{
    padding: 10px;
    margin-top: 25px;
}
button{
    background-image: linear-gradient(144deg,#ff9640, #f3c442 50%,#d4eb00);
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 120px;
    color: white;
    padding: 15px 19px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    display: flex;
    line-height: 1em;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: inline;font-size: 16px;
    margin: 4px 2px;
    white-space: nowrap;
    cursor: pointer;
}
button:active,button:hover{
    outline: 0;

}
/*button span{
    background-color: rgb(229, 146, 14);
    padding: 10px 24px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}*/
button:hover span{
    background:none;
}
@media (min-width:768px) {
    .button{
        font-size: 24px;
        min-width: 196px;
    }
    
}

/*about section*/

.about-section{
    padding-top: 5px;
}
.about-container{
    row-gap: 2rem;
    text-align: center;
}
.about-title{
    position: relative;
    
    margin-bottom: 32px;
    text-align: center;
    color: #876815;
    font-size: 36px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    

}
@media  screen and(min-width:768px) {
    .about-title::after{
        width: 80%;
        top: 3rem;
    }
    
}
.about-img{
    justify-self: center;
}
.about-img{
    cursor: pointer;
}

.about-img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;

}

/*skill section*/
.skill-title{
    position: relative;
    
    margin-bottom: 32px;
    text-align: center;
    color: #876815;
    font-size: 36px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
   margin-inline: auto;
}
.skills-container{
    display: grid;
    column-gap: 19px;
    grid-template-columns: auto auto ;
    padding: 16px;
}
.title-1{
    font-size: 25px;
    font-weight: 600;
    color: #000;
}

.set {
    padding-block: 8px;
    display: grid;
    width: 270px;
    justify-content: center;
    color: #ff9640;
    cursor: pointer;
    border-radius: 8px;
}
.set:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out;
    background-color: #fada5f;
    box-shadow: 0px 0px 10px #888888;
}  
